USE [master]
GO
/****** Object:  Database [LabAssitantDB]    Script Date: 10/4/2021 2:14:40 PM ******/
CREATE DATABASE [LabAssitantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabAssitantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LabAssitantDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LabAssitantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LabAssitantDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabAssitantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabAssitantDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/4/2021 2:14:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Eid] [int] IDENTITY(1,1) NOT NULL,
	[Ename] [varchar](50) NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Eid], [Ename], [Salary]) VALUES (1, N'AA', 1245)
INSERT [dbo].[Employee] ([Eid], [Ename], [Salary]) VALUES (2, N'BB', 1234)
INSERT [dbo].[Employee] ([Eid], [Ename], [Salary]) VALUES (3, N'CC', 98765)
SET IDENTITY_INSERT [dbo].[Employee] OFF
USE [master]
GO
