<br />
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Striped Table</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Salary</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of empList">
                            <td>{{item.eid}}</td>
                            <td>{{item.ename}}</td>
                            <td>{{item.salary}}</td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>